
.input-area{
        padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
}

.button {
    margin-left: 8px;
  cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    width: 75px;
    height: 40px;    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;    
    background-color: #4e75ff;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button:disabled {
    background-color: #cfcfcf;
    color: #989898;
}
.button:enabled:hover,
.button:enabled:focus {
    background-color: #6c8cff;
}



.gallery {
  max-width: 100%;  
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item { 
      max-width: 360px;
      overflow: hidden; 
     border: 1px solid #808080;
     object-fit: cover;
    flex-basis: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.215, 0.610, 0.355, 1), transform 250ms cubic-bezier(0.215, 0.610, 0.355, 1);  
}

.gallery-item img{
    overflow: hidden;
      width: 100%;      
  height: 200px;   
  object-fit: cover; 
  display: block;  
}

.gallery-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.label {
font-weight: 600;
font-size: 12px;

/* line-height: 16px; */ 
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
}
.value {
font-weight: 400;
font-size: 12px;

/* line-height: 24px; */ 
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    height: 58px;
    box-sizing: border-box;
    
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 32px;
}

.bttn-more{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 8px;
border: none;
padding: 8px 16px;
width: 125px;
height: 40px;

margin-top: 32px;
margin-bottom: 44px;

background: #4e75ff;

font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
display: block; 
  margin: 20px auto 0 auto;
}

.bttn-more:disabled {
    background-color: #cfcfcf;
    color: #989898;
}
.bttn-more:enabled:hover,
.bttn-more:enabled:focus {
    background-color: #6c8cff;
}

.hidden {
  display: none !important;
}

.loader {
  display: none;
}
.loader.is-visible {
  display: inline-block;
}
